<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.tiantian.mapper.psql.IDictionariesHeroDaoMapper">

    <select id="getAllDictionariesHeroList"  resultType="com.tiantian.api.dictionaries.dictionariesEntity.Hero" parameterType="com.tiantian.api.dictionaries.dictionariesEntity.Hero">
        select * FROM hero
        <if test="heroName != null">
              where hero_name like concat('%',#{heroName},'%')
         </if>
    </select>
</mapper>